@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
}

.btnn{
  background-color: #c2b0b9;
  color : blue;
}

.button {
  transition-duration: 0.2s;
}

.button:hover {
  background-color: rgb(90, 162, 184); 
  color: white;
}
body{
    box-sizing: border-box;
    background: linear-gradient(rgba(31, 29, 29, 0.6), rgba(15, 13, 13, 0.4)), url('https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d29vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}


.but{
  margin-right: 2rem;
  border-radius: 1rem;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bbd9df, 0 0 40px #b3d1d8, 0 0 50px #9ec2c9, 0 0 60px #4697a5, 0 0 70px #4697a5;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #e6d5dd, 0 0 40px #9c8c94, 0 0 50px #cadadd, 0 0 60px #cadadd, 0 0 70px #cadadd, 0 0 80px #cadadd;
    }
  
}
#success_message{ display: none;}

.text {
    background-color: white;
    color: black;
    font-size: 25vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }

footer{
       /* position: fixed;*/
        left: 0;
       /* bottom: 0;*/
        width: 100%;
       /* background-color: rgb(233, 236, 248);*/
        color: white;
        text-align: center;
    /*background-color: black;*/
    color: rgb(255, 254, 253);
    /*bottom: 0;*/
}

@media (min-width:765px){

    footer{
        position: fixed;
        bottom:0;
        width:100%
    }

}




